VITE_SUPABASE_URL=https://rkocndkwiwhpivqqpoic.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrb2NuZGt3aXdocGl2cXFwb2ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyNTEwNzQsImV4cCI6MjA4MzgyNzA3NH0.OLH65_bBtJXvNg8t8vFRqJoSaPrwar2ENo3-xQPrTfg